[package]
name = "maudit-macros"
description = "Procedural macros for the maudit crate"
license = "MIT"
version = "0.6.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
